<div class="event">
  <div class="ename"><%= @event.name %></div>
  <div class="eplacetime"><%= @event.place_name + " - " + @event.start_time.strftime("%Hh") %></div>
  <div class="section">
    <div class="eaddress"><span class="icon icon-location"></span><%= @event.place_location_street %></div>
    <div class="eattending"><span class="icon icon-man"></span><%= @event.attending_count %></div>
  </div>
  <div class="edescription"><%= sanitize @event.description %></div>
</div>
