<div class="event">
  <div class="center ename"><%= @event.name %></div>
  <div class="center eplacetime"><%= @event.place_name + " - " + @event.start_time.strftime("%Hh") %></div>
  <%= image_tag @event.cover_source, class: 'eimage' %>
  <div class="section">
    <div class="eaddress"><span class="icon icon-location"></span><%= @event.place_location_street %></div>
    <div class="eattending"><span class="icon icon-man"></span><%= @event.attending_count %></div>
  </div>
  <div class="edescription"><%= sanitize @event.description %></div>
</div>
