<div class="event">
  <div class="ename"><%= @event.name %></div>
  <div class="esummary"><%= @event.location + " - " + @event.start_datetime.strftime("%Hh") %></div>
  <div class="esummary"><%= @event.address %></div>
  <div class="esummary">$<%= @event.price %></div>
  <div class="esummary"><%= @event.attending %></div>
  <div class="edescription"><%= @event.description %></div>
</div>
