<!DOCTYPE html>
<html>
<head>
  <title>narrua</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="events">
  <ul id="nav">
    <!-- <li id="li-go-back"><%= link_to "voltar", events_path, id: "nav-a-go-back" %></li> -->
    <li><%= link_to Time.now.to_datetime.strftime("%d.%m"), events_path, id: "nav-a-events" %></a></li>
    <!-- <li><%= link_to "busca", search_path, id: "nav-a-search" %></li> -->
    <!-- <li><%= link_to "colaborar", colaborate_path, id: "nav-a-colaborate" %></li> -->
  </ul>
  <div id="logo">
    <%= image_tag "narrua_minimal.png", { width: 80 } %>
  </div>
  <%= yield %>
</div>

</body>
</html>
