<!DOCTYPE html>
<html>
<head>
  <title>narrua</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul id="nav">
    <li class="nav-item"><%= link_to Time.now.to_datetime.strftime("%d.%m"), events_path, id: "nav-a-events" %></a></li>
    <li class="nav-item"><%= link_to "busca", search_path, id: "nav-a-search" %></li>
  </ul>
  <div class="logo">
    <h1>
      na<div class="logo-backward">r</div>rua
    </h1>
  </div>
  <%= yield %>
</div>

</body>
</html>
